@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Rating Restaurants Application! </h1>
    <h2 class="display-6"> Make sure to make the most objective reviews! </h2>
    <img src="images/19901302131.jpg"  class="img-fluid" alt="Responsive image"/>
</div>