@using RestaurantRatingsApp.Data.Models
@using Microsoft.AspNetCore.Identity
@model dynamic
@inject UserManager<AppUser> UserManager

@{
    ViewBag.Title = "Sample";
    Layout = "_Layout";
    ViewBag.CurrentUser = UserManager.FindByEmailAsync(User.Identity?.Name).Result;
}

<h2>Showing @User.Identity?.Name data</h2>
<div>
    Your ID : @ViewBag.CurrentUser.Id
    Name: @User.Identity?.Name
</div>