@model dynamic

@{
    ViewBag.Title = "Feedbacks";
    Layout = "_Layout";
}

<h2> Feedbacks </h2>
<a asp-action="Create" class="btn btn-secondary">Add new feedback</a>
<table class="table table-sm table-bordered table-bordered">
    <tr><th>Author</th><th>Comment</th><th>Rating</th></tr>
    @foreach (var feedback in ViewBag.Feedbacks)
    {
        <tr>
            <td>@User.Identity?.Name</td>
            <td>@feedback.Header</td>
            <td>@feedback.Rating</td>
        </tr>
    }
</table>